## **# CASE STUDY 1**

In [ ]:

'''
1. Write a program which will find all such numbers which are divisible by 7 but are not a
multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be
printed in a comma-separated sequence on a single line.
'''
ans=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5!=0):
        ans.append(str(x))

print(ans)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

In [ ]:

'''
Write a program which can compute the factorial of a given numbers. The results should
be printed in a comma-separated sequence on a single line.
Suppose the input is supplied to the program: 8
Then, the output should be: 40320
Hints: In case of input data being supplied to the question, it should be assumed to be a
console input.
'''

def fun(n):
  ans = 1
  for x in range(1,n+1):
    ans = ans * x
  
  return ans

# sample
print("Enter any number of your choice")
number = int(input())
print(fun(number))

Enter any number of your choice
5
120

In [ ]:
'''
DICTIONARY
3. With a given integral number n, write a program to generate a dictionary that contains (i,
i*i) such that is an integral number between 1 and n (both included) and then the program
should print the dictionary.
Suppose the input is supplied to the program: 8
Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Hints: In case of input data being supplied
'''

def fun(n):
  dict = {}
  for x in range(1,n+1):
    dict[x] = x * x
  return dict

num = int(input("Type any number"))
print(fun(num))

Type any number5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# 4. Write a program which accepts a sequence of comma-separated numbers from console
# and generate a list and a tuple which contains every number.
# Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98
# Then, the output should be:
# ['34', '67', '55', '33', '12', '98']
# ('34', '67', '55', '33', '12', '98')
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input. tuple() method can convert list to tuple

numbers = input("Type the numbers")

array = numbers.split(",")
tup = tuple(array)
print(array,"\n",tup)

Type the numbers1,2,3,4,5,6,7,8,9,10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
 ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
# 5. Define a class which has at least two methods:
# getString: to get a string from console input
# printString: to print the string in upper case.

# Also please include simple test function to test the class methods.
# Hints: Use init method to construct some parameters

class class1():

  def __init__(self):
    self.string1 = ""

  def getString(self):
    self.string1 = input()

  def printString(self):
    print(self.string1.upper())


cls = class1()
cls.getString()
cls.printString()

hi everyone
HI EVERYONE

In [ ]:
# 6. Write a program that calculates and prints the value according to the givenformula:
# Q = Square root of [(2 * C * D)/H]
# Following are the fixed values of C and H: C is 50. H is 30.
# D is the variable whose values should be input to your program in a comma-separated
# sequence.
# Let us assume the following comma separated input sequence is given to the program:
# 100,150,180
# The output of the program should be: 18, 22, 24
# Hints: If the output received is in decimal form, it should be rounded off to its nearest value
# (for example, if the output received is 26.0, it should be printed as 26)
# In case of input data being supplied to the question, it should be assumed to be a console
# input.


import math

numbers = input()
numbers = numbers.split(',')

result_list = []
for D in numbers:
    Q = round(math.sqrt(2 * 50 * int(D) / 30))
    result_list.append(Q)

print(result_list)

100,150,180
[18, 22, 24]

In [ ]:
# 7. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array.
# The element value in the i-th row and j-th column of the array should be i*j.
# Note: i=0,1.., X-1; j=0,1,¡•Y-1.
# Suppose the following inputs are given to the program: 3, 5
# Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input in a comma-separated form.

x = int(input())
y = int(input())
ans = [[0 for col in range(y) ] for row in range(x)]
for i in range(x):
  for j in range(y):
    ans[i][j] = i * j

print(ans)

5
6
[[0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5], [0, 2, 4, 6, 8, 10], [0, 3, 6, 9, 12, 15], [0, 4, 8, 12, 16, 20]]

In [ ]:
# Write a program that accepts a comma separated sequence of words as input and prints
# the words in a comma-separated sequence after sorting them alphabetically.
# Suppose the input is supplied to the program: without, hello, bag,world
# Then, the output should be: bag, hello, without, world
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.

string = input().split(',')
string.sort()
print (string)

without,hello,bag,world
['bag', 'hello', 'without', 'world']

In [ ]:
# Write a program that accepts sequence of lines as input and prints the lines after making
# all characters in the sentence capitalized.
# Suppose the input is supplied to the program: Hello world
# Practice makes perfect
# Then, the output should be: HELLO WORLD
# PRACTICE MAKES PERFECT

ans = []
while(1):
  raw = input()
  if(raw):
    ans.append(raw.upper())
  else:
    break

for x in ans:
    print(x)

how are you
i am fine
good to know

HOW ARE YOU
I AM FINE
GOOD TO KNOW

In [ ]:
# 10. Write a program that accepts a sequence of whitespace separated words as inputand
# prints the words after removing all duplicate words and sorting themalphanumerically.
# Suppose the input is supplied to the program: hello world and practice makes perfect and
# hello world again
# Then, the output should be: again and hello makes perfect practice world
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input. We use set container to remove duplicated data automatically and then use
# sorted() to sort the data.

senten = input("Type the sentense")
listt = senten.split(" ")

ans = []
for i in listt:
  if i not in ans:
    ans.append(i)

ans.sort()
for i in ans:
  print(i, end = " ")

Type the sentensehello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [ ]:
# 11. Write a program which accepts a sequence of comma separated 4 digit binary numbers
# as its input and then check whether they are divisible by 5 or not. The numbers that are
# divisible by 5 are to be printed in a comma separated sequence.
# Suppose the input is supplied to the program: 0100,0011,1010,1001
# Then the output should be: 1010
# Notes: Assume the data is input by console.
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.

x = input().split(",")
fin = []
for i in x:
  no = int(i,2)
  if (no%5 == 0):
    fin.append(i)

print(fin)

0100,0011,1010,1001
['1010']

In [ ]:
# 12. Write a program, which will find all such numbers between 1000 and 3000 (both
# included) such that each digit of the number is an even number.
# The numbers obtained should be printed in a comma-separated sequence on a single line.
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.
for x in range (1000,3001):
  if x%2 ==0:
    print(x, end =", ")

1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000,

In [ ]:
# 13. Write a program that accepts a sentence and calculate the number of letters anddigits.
# Suppose the input is supplied to the program: hello world! 123
# Then, the output should be: LETTERS 10

# DIGITS 3
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.
x = list(input())
dig = 0
alp = 0

for i in x:
  if i.isalpha():
    alp+=1
  if i.isdigit():
    dig+=1

print("LETTER ", alp)
print("DIGIT ", dig)

hello world! 123
LETTER  10
DIGIT  3

In [ ]:
# 14. Write a program that accepts a sentence and calculate the number of upper caseletters
# and lower case letters.
# Suppose the input is supplied to the program: Hello world!
# Then, the output should be: UPPER CASE 1
# LOWER CASE 9
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.
phrase = input("Type in: ")
phrase = list(phrase)

u, l = 0, 0
for i in phrase:
    if i.isupper():
        u = u + 1
    if i.islower():
        l = l + 1
    else:
        pass

print("UPPER:", u)
print("lower:", l)

Type in: Hello world!
UPPER: 1
lower: 9

In [ ]:
# 15. Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the
# value of a.
# Suppose the input is supplied to the program: 9
# Then, the output should be: 11106
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.

a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

In [ ]:
# 16. Use a list comprehension to square each odd number in a list. The list is input by a
# sequence of comma-separated numbers.
# Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
# Then, the output should be: 1, 3, 5, 7, 9
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.
numbers = input("Type in: ")
#numbers = numbers.split(',')

odd_list = [i for i in numbers.split(',') if (int(i) % 2 != 0)]
print((" ").join(odd_list))

Type in: 1,2,3,4,5,6,7,8,9
1 3 5 7 9

In [ ]:
# 17. Write a program that computes the net amount of a bank account based atransaction
# log from console input. The transaction log format is shown asfollowing:
# D 100
# W 200
# --D means deposit while W means withdrawal.
# Suppose the input is supplied to the program:
# D 300
# D 300
# W 200
# D 100
# Then, the output should be: 500
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.

total = 0
while True:
    d_w_trans = input()
    if d_w_trans == "":
        break
    else:
        d_w_trans = d_w_trans.split(" ")
        if d_w_trans[0] == "D":
            total = total + int(d_w_trans[1])
        elif d_w_trans[0] == "W":
            total = total - int(d_w_trans[1])

print(total)

D 100
D 200
W 500
D 300

100

In [ ]:
# 18. A website requires the users to input username and password toregister. Write a
# program to check the validity of password input by users.
# Following are the criteria for checking the password:
# 1. At least 1 letter between [a-z]
# 2. At least 1 number between [0-9]
# 1. At least 1 letter between [A-Z]
# 3. At least 1 character from [$#@]
# 4. Minimum length of transaction password: 6
# 5. Maximum length of transaction password: 12
# Your program should accept a sequence of comma separated passwords and will check
# them according to the above criteria. Passwords that match the criteria are to be printed,
# each separated by a comma.
# If the following passwords are given as input to the program: ABd1234@1,a
# F1#,2w3E*,2We3345
# Then, the output of the program should be: ABd1234@1
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.

import re
passwords = input("Type in: ")
passwords = passwords.split(",")

accepted_pass = []
for i in passwords:
    
    if len(i) < 6 or len(i) > 12:
        continue

    elif not re.search("([a-z])+", i):
        continue

    elif not re.search("([A-Z])+", i):
        continue

    elif not re.search("([0-9])+", i):
        continue

    elif not re.search("([!@$%^&])+", i):
        continue

    else:
        accepted_pass.append(i)

print((" ").join(accepted_pass))

Type in: ABd1234@1 ,a F1# ,2w3E* ,2We3345
ABd1234@1

In [ ]:
# 19. You are required to write a program to sort the (name, age, height) tuples byascending
# order where name is string, age and height are numbers. The tuples are input by console.
# The sort criteria is:
# 1: Sort based on name;
# 2: Then sort based on age;
# 3: Then sort by score.

# The priority is that name > age > score.
# If the following tuples are given as input to the program:
# Tom,19,80
# John,20,90
# Jony,17,91
# Jony,17,93
# Json,21,85
from operator import itemgetter

people_info = []
while True:
    individual_info = input()

    if individual_info == "":
        break
    else:
        people_info.append(tuple((individual_info.split(","))))

people_info.sort(key =  itemgetter(0, 1, 2))       
print(people_info)

Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [ ]:
# 20. Define a class with a generator which can iterate the numbers, which are divisible by 7,
# between a given range 0 and n.
# Hints: Consider use yield

n = int(input())
divBy7 = [i for i in range(0, n) if (i % 7 == 0)]
print(divBy7)

def divChecker(n):
    for i in range(n):
        if i % 7 == 0:
            value = True
        else:
            value = False
        print(i, value)

divChecker(n)

501
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497]
0 True
1 False
2 False
3 False
4 False
5 False
6 False
7 True
8 False
9 False
10 False
11 False
12 False
13 False
14 True
15 False
16 False
17 False
18 False
19 False
20 False
21 True
22 False
23 False
24 False
25 False
26 False
27 False
28 True
29 False
30 False
31 False
32 False
33 False
34 False
35 True
36 False
37 False
38 False
39 False
40 False
41 False
42 True
43 False
44 False
45 False
46 False
47 False
48 False
49 True
50 False
51 False
52 False
53 False
54 False
55 False
56 True
57 False
58 False
59 False
60 False
61 False
62 False
63 True
64 False
65 False
66 False
67 False
68 False
69 False
70 True
71 False
72 False
73 False
74 False
75 False
76 False
77 True
78 False
79 False
80 False
81 False
82 False
83 False
84 True
85 False
86 False
87 False
88 False
89 False
90 False
91 True
92 False
93 False
94 False
95 False
96 False
97 False
98 True
99 False
100 False
101 False
102 False
103 False
104 False
105 True
106 False
107 False
108 False
109 False
110 False
111 False
112 True
113 False
114 False
115 False
116 False
117 False
118 False
119 True
120 False
121 False
122 False
123 False
124 False
125 False
126 True
127 False
128 False
129 False
130 False
131 False
132 False
133 True
134 False
135 False
136 False
137 False
138 False
139 False
140 True
141 False
142 False
143 False
144 False
145 False
146 False
147 True
148 False
149 False
150 False
151 False
152 False
153 False
154 True
155 False
156 False
157 False
158 False
159 False
160 False
161 True
162 False
163 False
164 False
165 False
166 False
167 False
168 True
169 False
170 False
171 False
172 False
173 False
174 False
175 True
176 False
177 False
178 False
179 False
180 False
181 False
182 True
183 False
184 False
185 False
186 False
187 False
188 False
189 True
190 False
191 False
192 False
193 False
194 False
195 False
196 True
197 False
198 False
199 False
200 False
201 False
202 False
203 True
204 False
205 False
206 False
207 False
208 False
209 False
210 True
211 False
212 False
213 False
214 False
215 False
216 False
217 True
218 False
219 False
220 False
221 False
222 False
223 False
224 True
225 False
226 False
227 False
228 False
229 False
230 False
231 True
232 False
233 False
234 False
235 False
236 False
237 False
238 True
239 False
240 False
241 False
242 False
243 False
244 False
245 True
246 False
247 False
248 False
249 False
250 False
251 False
252 True
253 False
254 False
255 False
256 False
257 False
258 False
259 True
260 False
261 False
262 False
263 False
264 False
265 False
266 True
267 False
268 False
269 False
270 False
271 False
272 False
273 True
274 False
275 False
276 False
277 False
278 False
279 False
280 True
281 False
282 False
283 False
284 False
285 False
286 False
287 True
288 False
289 False
290 False
291 False
292 False
293 False
294 True
295 False
296 False
297 False
298 False
299 False
300 False
301 True
302 False
303 False
304 False
305 False
306 False
307 False
308 True
309 False
310 False
311 False
312 False
313 False
314 False
315 True
316 False
317 False
318 False
319 False
320 False
321 False
322 True
323 False
324 False
325 False
326 False
327 False
328 False
329 True
330 False
331 False
332 False
333 False
334 False
335 False
336 True
337 False
338 False
339 False
340 False
341 False
342 False
343 True
344 False
345 False
346 False
347 False
348 False
349 False
350 True
351 False
352 False
353 False
354 False
355 False
356 False
357 True
358 False
359 False
360 False
361 False
362 False
363 False
364 True
365 False
366 False
367 False
368 False
369 False
370 False
371 True
372 False
373 False
374 False
375 False
376 False
377 False
378 True
379 False
380 False
381 False
382 False
383 False
384 False
385 True
386 False
387 False
388 False
389 False
390 False
391 False
392 True
393 False
394 False
395 False
396 False
397 False
398 False
399 True
400 False
401 False
402 False
403 False
404 False
405 False
406 True
407 False
408 False
409 False
410 False
411 False
412 False
413 True
414 False
415 False
416 False
417 False
418 False
419 False
420 True
421 False
422 False
423 False
424 False
425 False
426 False
427 True
428 False
429 False
430 False
431 False
432 False
433 False
434 True
435 False
436 False
437 False
438 False
439 False
440 False
441 True
442 False
443 False
444 False
445 False
446 False
447 False
448 True
449 False
450 False
451 False
452 False
453 False
454 False
455 True
456 False
457 False
458 False
459 False
460 False
461 False
462 True
463 False
464 False
465 False
466 False
467 False
468 False
469 True
470 False
471 False
472 False
473 False
474 False
475 False
476 True
477 False
478 False
479 False
480 False
481 False
482 False
483 True
484 False
485 False
486 False
487 False
488 False
489 False
490 True
491 False
492 False
493 False
494 False
495 False
496 False
497 True
498 False
499 False
500 False

In [ ]:
# 21. A robot moves in a plane starting from the original point (0,0). The robot can move
# toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is
# shown as the following:
# UP 5
# DOWN 3
# LEFT 3
# RIGHT 2
# ¡•
# The numbers after the direction are steps. Please write a program to compute the distance
# from current position after a sequence of movement and original point. If the distance is a
# float, then just print the nearest integer.
# If the following tuples are given as input to the program:
# UP 5
# DOWN 3
# LEFT 3
# RIGHT 2
# Then, the output of the program should be: 2
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.
import math

x, y = 0, 0

while True:
    step = input("Type in UP/DOWN/LEFT/RIGHT #step number: ")

    if step == "":
        break

    else:
        step = step.split(" ")

        if step[0] == "UP":
            y = y + int(step[1])
        elif step[0] == "DOWN":
            y = y - int(step[1])
        elif step[0] == "LEFT":
            x = x - int(step[1])
        elif step[0] == "RIGHT":
            x = x + int(step[1])

c = math.sqrt(x**2 + y**2)

print("Distance:", c)

Type in UP/DOWN/LEFT/RIGHT #step number: UP 5
Type in UP/DOWN/LEFT/RIGHT #step number: DOWN 3
Type in UP/DOWN/LEFT/RIGHT #step number: LEFT 3
Type in UP/DOWN/LEFT/RIGHT #step number: RIGHT 2
Type in UP/DOWN/LEFT/RIGHT #step number:
Distance: 2.23606797749979

In [ ]:
# 22. Write a program to compute the frequency of the words from the input. The output
# should output after sorting the key alphanumerically.
# Suppose the input is supplied to the program:
# New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
# Then, the output should be:
# 2:2
# 3.:1
# 3?:1
# New:1
# Python:5
# Read:1
# and:1
# between:1
# choosing:1
# or:2
# to:1
# Hints: In case of input data being supplied to the question, it should be assumed to be a
# console input.
import operator

text_line = input("Type in: ")

freq_dict = {}

for i in text_line.split(' '):
    if i.isalpha():
        if i not in freq_dict:
            freq_dict[i] = 1
        elif i in freq_dict:
            freq_dict[i] = freq_dict[i] + 1
    else:
        pass

sorted_freq_dict = sorted(freq_dict.items(), key = operator.itemgetter(0))
print(sorted_freq_dict)

for i in sorted_freq_dict:
    print(i[0], i[1])

Type in: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
[('New', 1), ('Python', 5), ('Read', 1), ('and', 1), ('between', 1), ('choosing', 1), ('or', 2), ('to', 1)]
New 1
Python 5
Read 1
and 1
between 1
choosing 1
or 2
to 1

In [ ]:
# 23. Write a method which can calculate square value of number
# Hints: Using the ** operator
n = int(input())
square = n ** 2
 
# Printing square
print(square)

5
25

In [ ]:
# 26. Define a function which can compute the sum of twonumbers.
# Hints: Define a function with two numbers as arguments. You can compute the sum in the
# function and return the value.

def sum(x,y):
  return (x+y)

x = input().split(" ")

print(sum(int(x[0]),int(x[1])))

8 4
12

In [ ]:
# 27. Define a function that can convert a integer into a string and print it in console.
# Hints: Use str() to convert a number to string.

x = int(input())
print(str(x))

57895875
57895875

In [ ]:
# 28. Define a function that can convert a integer into a string and print it in console.
# Hints: Use str() to convert a number to string.

x = str(input())
print(int(x))

589
589

In [ ]:
# 29. Define a function that can receive two integral numbers in string form and compute
# their sum and then print it in console.
# Hints: Use int() to convert a string to integer
def sum(x,y):
  return (x+y)

x = input().split(" ")

print(sum(int(x[0]),int(x[1])))

5 7
12

In [ ]:
# 30. Define a function that can accept two strings as input and concatenate them and then
# print it in console.
# Hints: Use + to concatenate the strings

def SumFunction(number1, number2):
	return number1 + number2

strg1 = input()
strg2 = input()


print (SumFunction(str(strg1),str(strg2)))

sdfsd
sdfdsfsf
sdfsdsdfdsfsf

In [ ]:
# 31. Define a function that can accept two strings as input and print the string with maximum
# length in console. If two strings have the same length, then the function should print al l
# strings line by line.
# Hints: Use len() function to get the length of a string

def max_length(y):
  l1 = len(y[0])
  l2 = len(y[1])
  if l1>l2:
    return y[0]
  elif l2>l1:
    return y[1]
  else:
    return y

x=input('enter two string with using space\n')
print(max_length(x.split()))

enter two string with using space
hgg hyu
['hgg', 'hyu']

In [ ]:
# 32. Define a function that can accept an integer number as input and print the "It is an even
# number" if the number is even, otherwise print "It is an odd number".
# Hints: Use % operator to check if a number is even or odd.

x = int(input())
if x%2==0:
  print("No. is even")
else:
  print("No. is odd")

75
No. is odd

In [ ]:
# 33. Define a function which can print a dictionary where the keys are numbers between 1
# and 3 (both included) and the values are square of keys.
# Hints: Use dict[key]=value pattern to put entry into a dictionary.
# Use ** operator to get power of a number


dicto = {'1':1,'2':2,'3':3}
for x in dicto:
  dicto[x] = int(x)**2

print(dicto)

{'1': 1, '2': 4, '3': 9}

In [ ]:
# 34. Define a function which can print a dictionary where the keys are numbers between 1
# and 20 (both included) and the values are square of keys.
# Hints: Use dict[key]=value pattern to put entry into a dictionary.
# Use ** operator to get power of a number. Use range() for loops.

def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	print (d)

printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
# 35. Define a function which can generate a dictionary where the keys are numbers between
# 1 and 20 (both included) and the values are square of keys. The function should just print
# the values only.
# Hints: Use dict[key]=value pattern to put entry into a dictionary. Use ** operator to get
# power of a number. Use range() for loops. Use keys() to iterate keys in the dictionary. Also
# we can use item() to get key/value pairs.

def printDict():
	d=dict()
	for i in range(1,21):
            d[i] = i**2
            print(d[i], end= " ")
	

printDict()

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

In [ ]:
# 36. Define a function which can generate a dictionary where the keys are numbers between
# 1 and 20 (both included) and the values are square of keys. The function should just print
# the keys only.
# Hints: Use dict[key]=value pattern to put entry into a dictionary. Use ** operator to get
# power of a number. Use range() for loops. Use keys() to iterate keys in the dictionary. Also
# we can use item() to get key/value pairs.
def printDict():
	d=dict()
	for i in range(1,21):
            d[i] = i**2
            print(i, end= " ")
	

printDict()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
# 37. Define a function which can generate and print a list where the values are squareof
# numbers between 1 and 20 (both included).
# Hints: Use ** operator to get power of a number. Use range() for loops. Use list.append() to
# add values into a list.

def printDict():
    d = list()
    for i in range(1,21):
        d.append(i**2)
    print(d)

printDict()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# 38. Define a function which can generate a list where the values are square of numbers
# between 1 and 20 (both included). Then the function needs to print the first 5 elements in
# the list.
# Hints: Use ** operator to get power of a number. Use range() for loops. Use list.append() to
# add values into a list. Use [n1:n2] to slice a list
def printDict():
    d = list()
    for i in range(1,21):
        d.append(i**2)

    for i in range(0,6):

        print(d[i], end = " ")

    #print(d[0:5], end = " ") another methord of printing using slicing

printDict()

1 4 9 16 25 36 [1, 4, 9, 16, 25] f

In [ ]:
# 39. Define a function which can generate a list where the values are square of numbers
# between 1 and 20 (both included). Then the function needs to print the last 5 elements in
# the list.
# Hints: Use ** operator to get power of a number. Use range() for loops. Use list.append() to
# add values into a list. Use [n1:n2] to slice a list

def printDict():
    d = list()
    for i in range(1,21):
        d.append(i**2)

    print(d[15:21])


printDict()

[256, 289, 324, 361, 400]

In [ ]:
# 40. Define a function which can generate a list where the values are square of numbers
# between 1 and 20 (both included). Then the function needs to print all values exceptthe
# first 5 elements in the list.
# Hints: Use ** operator to get power of a number. Use range() for loops. Use list.append() to
# add values into a list. Use [n1:n2] to slice a list


def printDict():
    d = list()
    for i in range(1,21):
        d.append(i**2)

    print(d[:21])


printDict()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:

# 41. Define a function which can generate and print a tuple where the value are square of
# numbers between 1 and 20 (both included).
# Hints: Use ** operator to get power of a number. Use range() for loops. Use list.append() to
# add values into a list. Use tuple() to get a tuple from a list.

tup = list()
for i in range(1,21):
    tup.append(i**2)

print (tup)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
  # 42. With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half valuesin
  # one line and the last half values in one line.
  # Hints: Use [n1:n2] notation to get a slice from a tuple.

tup = list()
for i in range(1,21):
    tup.append(i**2)

print (tup[:10])
print (tup[10:21])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
  # 43. Write a program to generate and print another tuple whose values are even numbersin
  # the given tuple (1,2,3,4,5,6,7,8,9,10).
  # Hints: Use "for" to iterate the tuple. Use tuple() to generate a tuple from a list.

tup = (1,2,3,4,5,6,7,8,9,10)

for x in tup:
    if x%2==0:
        print(x, end = " ")

2 4 6 8 10

In [ ]:
# 44. Write a program which accepts a string as input to print "Yes" if the string is "yes" or
# "YES" or "Yes", otherwise print "No".
# Hints: Use if statement to judge condition.

x = str(input())
if (x == 'Yes') or (x == 'yes') or (x == 'YES'):
    print('Yes')
else:
    print('No')

Yes
Yes

In [ ]:
# 45. Write a program which can filter even numbers in a list by using filter function. The list
# is: [1,2,3,4,5,6,7,8,9,10].
# Hints: use filter() to filter some elements in a list. Use lambda to define anonymous
# functions.
tup = (1,2,3,4,5,6,7,8,9,10)

for x in tup:
    if x%2==0:
        print(x, end = " ")

2 4 6 8 10

In [ ]:
# 46. Write a program which can map() to make a list whose elements are square ofelements
# in [1,2,3,4,5,6,7,8,9,10].
# Hints: Use map() to generate a list. Use lambda to define anonymous functions.
def square_num(n):
  return n * n
  
nums = [4, 5, 2, 9]
print("Original List: ",nums)
result = map(square_num, nums)
print("Square the elements of the said list using map():")
print(list(result))

Original List:  [4, 5, 2, 9]
Square the elements of the said list using map():
[16, 25, 4, 81]

In [ ]:
# 47. Write a program which can map() and filter() to make a list whose elements aresquare
# of even number in [1,2,3,4,5,6,7,8,9,10].

li = [1,2,3,4,5,6,7,8,9,10]
 
eve_num = map(lambda x: x**2, filter(lambda   x: x%2==0, li))
 
print(list(eve_num))

[4, 16, 36, 64, 100]

In [ ]:
# 48. Write a program which can filter() to make a list whose elements are evennumber
# between 1 and 20 (both included).

lst = []

for x in range(1,21):
  lst.append(x)

flt = filter(lambda x : x%2==0, lst)
print(list(flt))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 49. Write a program which can map() to make a list whose elements are square ofnumbers
# between 1 and 20 (both included).
# Hints: Use map() to generate a list. Use lambda to define anonymous functions.


lst = []

for x in range(1,21):
  lst.append(x)

mp = map(lambda x: x**2,lst)
print(list(mp))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# 50. Define a class named American which has a static method called printNationality.
# Hints: Use @staticmethod decorator to define class static method.
class American(object):
    @staticmethod
    def printNationality():
        print ("America")

anAmerican = American()
anAmerican.printNationality()
American.printNationality()

America
America

In [ ]:
# 51. Define a class named American and its subclass NewYorker.
# Hints: Use class Subclass(ParentClass) to define a subclass.
class American():
    pass

class NewYorker(American):
    pass

american = American()
newyorker = NewYorker()

print(american)
print(newyorker)

<__main__.American object at 0x7fa61be9a510>
<__main__.NewYorker object at 0x7fa61be9a090>

In [ ]:
# 52. Define a class named Circle which can be constructed by a radius. The Circle class has a
# method which can compute the area.
# Hints: Use def methodName(self) to define a method.
class Circle(object):
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

aCircle = Circle(10)
print (aCircle.area())

314.0

In [ ]:
# 53. Define a class named Rectangle which can be constructed by a length and width. The
# Rectangle class has a method which can compute the area.
# Hints: Use def methodName(self) to define a method.

class Rectangle(object):
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def area(self):
        return self.length*self.width

r = Rectangle(14,10)
print (r.area())

140

In [ ]:
# 54. Define a class named Shape and its subclass Square. The Square class has an init function
# which takes a length as argument. Both classes have a area function which can print the
# area of the shape where Shape's area is 0 by default.
class Shape(object):
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self, l):
        Shape.__init__(self)
        self.length = l

    def area(self):
        return self.length*self.length

s= Square(14)
print (s.area())

196

In [ ]:
# 55. Write a function to compute 5/0 and use try/except to catch the exceptions.
# Hints: Use try/except to catch exceptions.
def divide():
    return 5/0

try:
    divide()
except ZeroDivisionError as ze:
    print("error")
except:
    print("Any other exception")

error

In [ ]:
# 56. Define a custom exception class which takes a string message as attribute.
# Hints: To define a custom exception, we need to define a class inherited from Exception.

class MyError(Exception):

    def __init__(self, msg):
        self.msg = msg

error = MyError("something wrong")

In [ ]:
# 57. Assuming that we have some email addresses in the"username@companyname.com"
# format, please write program to print the user name of a given email address. Both user
# names and company names are composed of letters only.
# If the following email address is given as input to the program: Chandra@analytixlabs.com
# Then, the output of the program should be: Chandra

import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print (r2.group(1))

sorajkandari@gmail.com
sorajkandari

In [ ]:
# 58. Assuming that we have some email addresses in the"username@companyname.com"
# format, please write program to print the company name of a given email address. Both
# user names and company names are composed of letters only.
# If the following email address is given as input to the program: Chandra@analytixlabs.com
# Then, the output of the program should be: analytixlabs
# In case of input data being supplied to the question, it should be assumed to be a console
# input.
# Hints: Use \w to match letters

import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print (r2.group(2))

sorajkandari@gmail.com
gmail

In [ ]:
# 59. Write a program which accepts a sequence of words separated by whitespace asinput
# to print the words composed of digits only.
# If the following words are given as input to the program: 2 cats and 3 dogs.
# Then, the output of the program should be: ['2', '3']
# In case of input data being supplied to the question, it should be assumed to be a console
# input.
# Hints: Use re.findall() to find all substring using regex.

import re

email = input()
pattern = "\d+"  #basically d is for digit
ans = re.findall(pattern,email)
print(ans)

2 cats and 3 dogs
['2', '3']

In [ ]:
# 60. Print a unicode string "hello world".
# Hints: Use u'strings' format to define unicode string.

unicodeString = u"hello world!"
print (unicodeString)

hello world!

In [ ]:
# 61. Write a program to read an ASCII string and to convert it to a unicode string encoded by
# utf-8.
# Hints: Use unicode() function to convert.

s = input()
u = s.encode('utf-8')
print(u)

hello everyone how are u?
b'hello everyone how are u?'

In [ ]:
# 62. Write a special comment to indicate a Python source code file is in unicode.
# -*- coding: utf-8 -*-

In [ ]:
# 63. Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console
# (n>0).
# If the following n is given as input to the program: 5
# Then, the output of the program should be: 3.55
# In case of input data being supplied to the question, it should be assumed to be a console
# input.
# Hints: Use float() to convert an integer to a float

n = int(input())
sum = 0
for i in range(1, n+1):
    sum+= i/(i+1)
print(round(sum, 2))

10
7.98

In [ ]:
# 64. Write a program to compute:
# f(n)=f(n-1)+100 when n>0
# and f(0)=1
# with a given n input by console (n>0).
# If the following n is given as input to the program: 5
# Then, the output of the program should be: 500
# In case of input data being supplied to the question, it should be assumed to be a console
# input.
# Hints: We can define recursive function in Python.
def f(n):
    if n == 0:
        return 0
    return f(n-1) + 100

n = int(input())
print(f(n))

5
500

In [ ]:
# 65. The Fibonacci sequence is computed based on the following formula:
# f(n)=0 if n=0
# f(n)=1 if n=1
# f(n)=f(n-1)+f(n-2) if n>1
# Please write a program to compute the value of f(n) with a given n input by console.
# If the following n is given as input to the program: 7
# Then, the output of the program should be: 13
# In case of input data being supplied to the question, it should be assumed to be a console
# input.
# Hints: We can define recursive function in Python.
def f(n):
    if n < 2:
        return n
    return f(n-1) + f(n-2)

n = int(input())
print(f(n))

10
55

In [ ]:
# 66. The Fibonacci sequence is computed based on the following formula:
# f(n)=0 if n=0
# f(n)=1 if n=1
# f(n)=f(n-1)+f(n-2) if n>1
# Please write a program using list comprehension to print the Fibonacci sequence in comma
# separated form with a given n input by console.
# If the following n is given as input to the program: 7
# Then, the output of the program should be: 0, 1, 1, 2, 3, 5, 8, 13
# Hints: We can define recursive function in Python. Use list comprehension to generate a list
# from an existing list. Use string.join() to join a list of strings. In case of input data being
# supplied to the question, it should be assumed to be a console input.

def fibo(n):
    if n < 2: return n
    return fibo(n-1)+fibo(n-2)

def print_fiblist(n):
    fib_list = [(str(fibo(i))) for i in range(0, n+1)]
    return print(",".join(fib_list))
    
n = int(input())
print_fiblist(n)

10
0,1,1,2,3,5,8,13,21,34,55

In [ ]:
# 67. Please write a program using generator to print the even numbers between 0 and n in
# comma separated form while n is input by console.
# Example: If the following n is given as input to the program: 10
# Then, the output of the program should be: 0,2,4,6,8,10
# Hints: Use yield to produce the next value in generator. In case of input data being supplied
# to the question, it should be assumed to be a console input.
n = int(input())

for i in range(0, n+1, 2):
  if i < n - 1:
    print(i, end = ',' )
  else:
    print(i)

22
0,2,4,6,8,10,12,14,16,18,20,22

In [ ]:
# 68. Please write a program using generator to print the numbers which can be divisible by 5
# and 7 between 0 and n in comma separated form while n is input by console.
# If the following n is given as input to the program: 100
# Then, the output of the program should be: 0, 35, 70

def generate(n):
    for i in range(n+1):
        if i % 35 == 0:    
            yield i

n = int(input())
resp = [str(i) for i in generate(n)]
print(",".join(resp))

1000
0,35,70,105,140,175,210,245,280,315,350,385,420,455,490,525,560,595,630,665,700,735,770,805,840,875,910,945,980

In [ ]:
# 69. Please write assert statements to verify that every number in the list [2,4,6,8] is even.
# Hints: Use "assert expression" to make assertion.
li = [2,4,6,8]
for i in li:
    assert i%2==0

In [ ]:
# 70. Please write a program which accepts basic mathematic expression from consoleand
# print the evaluation result.
# If the following string is given as input to the program: 35+3
# Then, the output of the program should be: 38
# Hints: Use eval() to evaluate an expression.

expression = input()
ans = eval(expression)
print(ans)

25*10+3
253

In [ ]:
# 71. Please write a binary search function which searches an item in a sorted list. The
# function should return the index of element to be searched in the list.
# Hints: Use if/elif to deal with conditions

def binary_search(lst, item):
    low = 0
    high = len(lst) - 1
    
    while low <= high:
        mid = round((low + high) / 2)
        
        if lst[mid] == item:
            return mid
        elif lst[mid] > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
    
lst = [1,3,5,7,9,15,75,84,603,2114]
print(binary_search(lst, 84))

7

In [ ]:
# 72. Please write a binary search function which searches an item in a sorted list. The
# function should return the index of element to be searched in the list.
# Hints: Use if/elif to deal with conditions.
def binary_search(lst, item):
    low = 0
    high = len(lst) - 1
    
    while low <= high:
        mid = round((low + high) / 2)
        
        if lst[mid] == item:
            return mid
        elif lst[mid] > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
    
lst = [1,3,5,7,9,15,75,84,603,2114]
print(binary_search(lst, 4))

None

In [ ]:
# 73. Please generate a random float where the value is between 10 and 100 usingPython
# math module.
# Hints: Use random.random() to generate a random float in [0,1].
import random
rand_num = random.uniform(10,100)
print(rand_num)

25.06736917544358

In [ ]:
# 74. Please generate a random float where the value is between 5 and 95 usingPython math
# module.
# Hints: Use random.random() to generate a random float in [0,1].
import random
rand_num = random.uniform(5,95)
print(rand_num)

31.25647337286666

In [ ]:
# 75. Please write a program to output a random even number between 0 and 10 inclusive
# using random module and list comprehension.
# Hints: Use random.choice() to a random element from a list.
import random
resp = [i for i in range(0,11,2)]
print(random.choice(resp))

6

In [ ]:
# 76. Please write a program to output a random number, which is divisible by 5 and7,
# between 0 and 100 inclusive using random module and list comprehension.
# Hints: Use random.choice() to a random element from a list.
import random
resp = [i for i in range(0,101) if i % 35 == 0 ]
print(random.choice(resp))

35

In [ ]:
# 77. Please write a program to generate a list with 5 random numbers between 100 and200
# inclusive.
# Hints: Use random.sample() to generate a list of random values.
import random
resp = random.sample(range(100,201),5)
print(resp)

[160, 171, 102, 139, 166]

In [ ]:
# 78. Please write a program to randomly generate a list with 5 even numbers between 100
# and 200 inclusive.
# Hints: Use random.sample() to generate a list of random values.
import random
resp = random.sample(range(100,201,2),5)
print(resp)

[190, 138, 106, 180, 142]

In [ ]:
# 79. Please write a program to randomly generate a list with 5 numbers, which are divisible
# by 5 and 7 , between 1 and 1000 inclusive.
# Hints: Use random.sample() to generate a list of random values.
import random
lst = [i for i in range(1,1001) if i%35 == 0]
resp = random.sample(lst,5)
print(resp)

[315, 595, 280, 175, 35]

In [ ]:
# 80. Please write a program to randomly print a integer number between 7 and 15 inclusive.
# Hints: Use random.randrange() to a random integer in a given range
import random
print (random.randrange(7,16))

12

In [ ]:
# 81. Please write a program to compress and decompress the string "hello world!hello
# world!hello world!hello world!".
# Hints: Use zlib.compress() and zlib.decompress() to compress and decompress a string
import zlib
s = 'hello world!hello world!hello world!hello world!'

y = bytes(s, 'utf-8')
x = zlib.compress(y)
print(x)
print(zlib.decompress(x))

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
b'hello world!hello world!hello world!hello world!'

In [ ]:
# 82. Please write a program to print the running time of execution of "1+1" for 100 times.
# Hints: Use timeit() function to measure the running time.
import time

before = time.time()
for i in range(100):
    x = 1 + 1
after = time.time()
execution_time = after - before
print(execution_time)

0.00015425682067871094

In [ ]:
# 83. Please write a program to shuffle and print the list [3,6,7,8].
# Hints: Use shuffle() function to shuffle a list
import random

lst = [3,6,7,8]
random.shuffle(lst)
print(lst)

[6, 3, 8, 7]

In [ ]:
# 84. Please write a program to shuffle and print the list [3,6,7,8].
# Hints: Use shuffle() function to shuffle a list.
import random

lst = [3,6,7,8]
random.shuffle(lst)
print(lst)

[8, 3, 7, 6]

In [ ]:
# 85. Please write a program to generate all sentences where subject is in ["I", "You"] and
# verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].
# Hints: Use list[index] notation to get a element from a list.

subjects=["I", "You"]
verbs=["Play", "Love"]
objects=["Hockey","Football"]
for i in range(len(subjects)):
    for j in range(len(verbs)):
        for k in range(len(objects)):
            sentence = "%s %s %s." % (subjects[i], verbs[j], objects[k])
            print (sentence)

I Play Hockey.
I Play Football.
I Love Hockey.
I Love Football.
You Play Hockey.
You Play Football.
You Love Hockey.
You Love Football.

In [ ]:
# 86. Please write a program to print the list after removing delete even numbersin
# [5,6,77,45,22,12,24].
li = [5,6,77,45,22,12,24]
lst = list(filter(lambda n:n%2!=0,li))
print(lst)

[5, 77, 45]

In [ ]:
# 87. By using list comprehension, please write a program to print the list afterremoving
# delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].
# Hints: Use list comprehension to delete a bunch of element from a list.
li = [12,24,35,70,88,120,155]
li = [x for x in li if x % 35!=0]
print(li)

[12, 24, 88, 120, 155]

In [ ]:
# 88. By using list comprehension, please write a program to print the list after removing the
# 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].
# Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to
# get (index, value) tuple.
li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li)) if i%2 != 0 and i <= 6]
print(li)

[24, 70, 120]

In [ ]:
# 89. By using list comprehension, please write a program generate a 3*5*8 3D array whose
# each element is 0.
# Hints: Use list comprehension to make an array.
array = [[ [0 for col in range(8)] for col in range(5)] for row in range(3)]
print (array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

In [ ]:
# 90. By using list comprehension, please write a program to print the list after removing the
# 0th,4th,5th numbers in [12,24,35,70,88,120,155].
# Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to
# get (index, value) tuple.

li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li)) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

In [ ]:
# 91. By using list comprehension, please write a program to print the list after removing the
# value 24 in [12,24,35,24,88,120,155].
# Hints: Use list's remove method to delete a value.
li = [12,24,35,24,88,120,155]
li.remove(24)  # this will remove only the first occurrence of 24
print(li)

[12, 35, 24, 88, 120, 155]

In [ ]:
# 92. With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to
# make a list whose elements are intersection of the above given lists.
# Hints: Use set() and "&=" to do set intersection operation.
list1 = [1,3,6,78,35,55]
list2 = [12,24,35,24,88,120,155]
set1= set(list1)
set2= set(list2)
intersection = set1 & set2
print(intersection)

{35}

In [ ]:
# 93. With a given list [12, 24, 35, 24, 88, 120, 155, 88, 120, 155], write a program to print this
# list after removing all duplicate values with original order reserved.
# Hints: Use set() to store a number of values without duplicate
def removeDuplicate( li ):
    newli=[]
    seen = set()
    for item in li:
        if item not in seen:
            seen.add( item )
            newli.append(item)

    return newli

li=[12,24,35,24,88,120,155,88,120,155]
print (removeDuplicate(li))

[12, 24, 35, 88, 120, 155]

In [ ]:
# 94. Define a class Person and its two child classes: Male and Female. All classes have a
# method "getGender" which can print "Male" for Male class and "Female" for Femaleclass.
# Hints: Use Subclass(Parentclass) to define a child class.
class Person(object):
    def __init__(self):
        self.gender = "unknown"

    def getGender(self):
        print(self.gender)

class Male(Person):
    def __init__(self):
        self.gender = "Male"

class Female(Person):
    def __init__(self):
	      self.gender = "Female"

priya = Female()
soraj = Male()
priya.getGender()
soraj.getGender()

Female
Male

In [ ]:
# 95. Please write a program which count and print the numbers of each character in a string
# input by console.
# If the following string is given as input to the program: abcdefgabc
# Then, the output of the program should be:
# a,2
# c,2
# b,2
# e,1
# d,1
# g,1
# f,1
# Hints: Use dict to store key/value pairs. Use dict.get() method to lookup a key with default
# value

import string

s = input()
for letter in string.ascii_lowercase:
    cnt = s.count(letter)
    if cnt > 0:
        print("{},{}".format(letter,cnt))

abcdefgabc
a,2
b,2
c,2
d,1
e,1
f,1
g,1

In [ ]:
# 96 Please write a program which accepts a string from console and print it in reverse order.
# If the following string is given as input to the program: rise to vote sir
# Then, the output of the program should be: ris etov ot esir
# Hints: Use list[::-1] to iterate a list in a reverse order.
s = input()
s = ''.join(reversed(s))
print(s)

rise to vote sir
ris etov ot esir

In [ ]:
# 97. Please write a program which accepts a string from console and print the characters
# that have even indexes.
# If the following string is given as input to the program: H1e2l3l4o5w6o7r8l9d
# Then, the output of the program should be: Helloworld
# Hints: Use list[::2] to iterate a list by step 2.
s = "H1e2l3l4o5w6o7r8l9d"
s = [ s[i] for i in range(len(s)) if i%2 ==0 ]
print(''.join(s))

Helloworld

In [ ]:
# 98. Please write a program which prints all permutations of [1, 2, 3]
# Hints: Use itertools.permutations() to get permutations oflist.
import itertools
print (list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
# 99. Write a program to solve a classic ancient Chinesepuzzle:
# We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits
# and how many chickens do we have?
# Hint: Use for loop to iterate all possible solutions

i = 35
j = 94
y = (j-2*i)/2
x = i-y
print (x,y)

23.0 12.0

In [ ]:
# 100. Create a dictionary with phone numbers (phonebook = {“John”: 938477566,"Jack”:
# 938377264, "Jill”: 947662781}). Add "Jake" to the phonebook with the phone number
# 938273443, and remove Jill from the phonebook.
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("Jill")
phonebook["jake"] = 938273443

print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'jake': 938273443}